{% extends 'template.html.twig' %}

{% block title %}Students{% endblock %}

{% block path %}Students{% endblock %}

{% block content %}
{{ form_start(form) }}
<div class="grid grid-cols-4 items-center gap-4 justify-between mb-6">

    {{form_widget(form.admission,{'attr':{'class':'block rounded-lg border-[1.5px] py-3 rounded- px-3 w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-primary-color focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input'}})}}

    {{form_widget(form.name,{'attr':{'class':'block rounded-lg border-[1.5px] py-3 rounded- px-3 w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-primary-color focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input'}})}}

    {{form_widget(form.class,{'attr':{'class':'block rounded-lg border-[1.5px] py-3 rounded- px-3 w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-primary-color focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input'}})}}
    
    <button
        type="submit"
        class="text-white bg-primary-color hover:bg-primary-color px-10 py-3 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm dark:bg-primary-color dark:hover:bg-primary-color focus:outline-none dark:focus:ring-primary-color"
    >
        Search
    </button>
</div>
{{ form_end(form) }}


            <div class="max-w-full overflow-hidden rounded-lg border-[1.5px] shadow-xs">
              <div class="max-w-full overflow-x-auto">
                <div class="w-full flex items-center justify-between px-4 py-5 bg-white">
                  <h3 class="text-xl font-semibold">Students</h3>
                  <div class="flex items-center space-x-3">
                    <a href="#"
                    class="text-white flex items-center gap-x-2 bg-primary-color hover:bg-primary-color px-6 py-3 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm dark:bg-primary-color dark:hover:bg-primary-color focus:outline-none dark:focus:ring-primary-color"
                    >
                      <i class="fa-solid fa-download"></i>
                      Download
                    </a>
                    <a href="{{ path('app_students_add') }}"
                    class="text-white flex items-center gap-x-2 bg-primary-color hover:bg-primary-color px-4 py-2 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm dark:bg-primary-color dark:hover:bg-primary-color focus:outline-none dark:focus:ring-primary-color"
                    >
                      <i class="fa-solid fa-plus text-lg"></i>
                    </a>
                  </div>
                </div>
                <table class="w-full divide-y">
                  <thead>
                    <tr
                      class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                    >
                        <th class="px-4 py-3">Admission No</th>
                        <th class="px-4 py-3">Name</th>
                        <th class="px-4 py-3">Class</th>
                        <th class="px-4 py-3">Date Of Birth</th>
                        <th class="px-4 py-3">Gender</th>
                        <th class="px-4 py-3">Mobile Number</th>
                        <th class="px-4 py-3">Adresse</th>
                        <th class="px-4 py-3">Action</th>
                    </tr>
                  </thead>
                  <tbody
                    class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                  >
                    {% for student in pagination %}
                    <tr class="text-gray-700 dark:text-gray-400">
                      <td class="px-4 py-3 text-sm">
                        {{student.admission}}
                      </td>
                      <td class="px-4 py-3">
                        <div class="flex items-center text-sm">
                          <!-- Avatar with inset shadow -->
                          <div
                            class="relative w-8 h-8 mr-3 rounded-full md:block"
                          >
                            <img
                              class="object-cover w-full h-full rounded-full"
                              src="{{ asset(student.image.path) }}"
                              alt=""
                              loading="lazy"
                            />
                            <div
                              class="absolute inset-0 rounded-full shadow-inner"
                              aria-hidden="true"
                            ></div>
                          </div>
                          <div>
                            <p class="font-semibold">{{student.FirstName}} {{student.LastName}}</p>
                          </div>
                        </div>
                      </td>
                      <td class="px-4 py-3 text-sm">
                        {{student.class}}
                      </td>
                      <td class="px-4 py-3 text-sm">
                        8 Dec 2003
                      </td>
                      <td class="px-4 py-3 text-sm">
                        {{student.Gender}}
                      </td>
                      <td class="px-4 py-3 text-sm">
                        {{student.Phone | format('%02d')}}
                      </td>
                      <td class="px-4 py-3 text-sm">
                        {{student.Adress}}
                      </td>
                      <td class="px-4 py-3">
                        <div class="flex items-center space-x-1 text-sm">
                            <a href="{{ path('app_students_details',{'id':student.id}) }}" class="w-[25px] h-[25px] flex items-center justify-center rounded-lg bg-accent-color">
                                <i class="fa-solid fa-eye text-xs text-white"></i>
                            </a>
                            <a href="{{ path('app_students_update',{'id':student.id}) }}" class="w-[25px] h-[25px] flex items-center justify-center rounded-lg bg-primary-color">
                                <i class="fa-solid fa-pencil text-xs text-white"></i>
                            </a>
                            <a href="{{ path('app_students_delete',{'id':student.id}) }}" class="w-[25px] h-[25px] flex items-center justify-center rounded-lg bg-light-red-color">
                                <i class="fa-solid fa-trash text-xs text-white"></i>
                            </a>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

              <div class="w-full px-4 py-3">
                <div>
                  {{ knp_pagination_render(pagination) }}
                </div>
              </div>

            </div>
{% endblock %}
