{% extends 'template.html.twig' %}

{% block title %}Exams{% endblock %}

{% block path %}Exams{% endblock %}

{% block content %}

<div class="flex items-center justify-between space-x-5 mb-6">

<input
    class="block rounded-lg border-[1.5px] py-3 rounded- px-3 w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-primary-color focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
    placeholder="Search By ID..."
/>

<input
    class="block rounded-lg border-[1.5px] py-3 px-3 w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-primary-color focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
    placeholder="Search By Name..."
/>

<input
    class="block rounded-lg border-[1.5px] py-3 px-3 w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-primary-color focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
    placeholder="Search By Phone..."
/>

<button
    class="text-white bg-primary-color hover:bg-primary-color px-10 py-3 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm dark:bg-primary-color dark:hover:bg-primary-color focus:outline-none dark:focus:ring-primary-color"
>
    Search
</button>

</div>


            <div class="max-w-full overflow-hidden rounded-lg border-[1.5px] shadow-xs">
              <div class="max-w-full overflow-x-auto">
                <div class="w-full flex items-center justify-between px-4 py-5 bg-white">
                  <h3 class="text-xl font-semibold">Exams</h3>
                  <div class="flex items-center space-x-3">
                    <a href="#"
                    class="text-white flex items-center gap-x-2 bg-primary-color hover:bg-primary-color px-6 py-3 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm dark:bg-primary-color dark:hover:bg-primary-color focus:outline-none dark:focus:ring-primary-color"
                    >
                      <i class="fa-solid fa-download"></i>
                      Download
                    </a>
                    <a href="{{ path('app_exam_add') }}"
                    class="text-white flex items-center gap-x-2 bg-primary-color hover:bg-primary-color px-4 py-2 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm dark:bg-primary-color dark:hover:bg-primary-color focus:outline-none dark:focus:ring-primary-color"
                    >
                      <i class="fa-solid fa-plus text-lg"></i>
                    </a>
                  </div>
                </div>
                <table class="w-full divide-y">
                  <thead>
                    <tr
                      class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                    >
                        <th class="px-4 py-3">Name</th>
                        <th class="px-4 py-3">Class</th>
                        <th class="px-4 py-3">Subject</th>
                        <th class="px-4 py-3">Day</th>
                        <th class="px-4 py-3">Time</th>
                        <th class="px-4 py-3">Status</th>
                        <th class="px-4 py-3">Action</th>
                    </tr>
                  </thead>
                  <tbody
                    class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                  >
                    {% for exam in pagination %}
                    <tr class="text-gray-700 dark:text-gray-400">
                      <td class="px-4 py-3 text-sm">
                        {{exam.name}}
                      </td>
                      <td class="px-4 py-3 text-sm">
                        {{exam.class}}
                      </td>
                      <td class="px-4 py-3 text-sm">
                        {{exam.subject}}
                      </td>
                      <td class="px-4 py-3 text-sm">
                        {{exam.day.format('d/m/Y')}}
                      </td>
                      <td class="px-4 py-3 text-sm">
                        {{exam.start.format('H:i')}} - {{exam.end.format('H:i')}}
                      </td>
                      <td class="px-4 py-3 text-sm">
                        {% if exam.status %}
                        <span class="px-2 py-1 rounded-xl bg-green-100 text-green-400 font-semibold text-[12px]">Active</span>
                        {% else %}
                        <span class="px-2 py-1 rounded-xl bg-red-100 text-red-400 font-semibold text-[12px]">InActive</span>
                        {% endif %}
                      </td>
                      <td class="px-4 py-3">
                        <div class="flex items-center space-x-1 text-sm">
                            <a href="{{ path('app_exam_update',{'id':exam.id}) }}" class="w-[25px] h-[25px] flex items-center justify-center rounded-lg bg-primary-color">
                                <i class="fa-solid fa-pencil text-xs text-white"></i>
                            </a>
                            <a href="{{ path('app_exam_delete',{'id':exam.id}) }}" class="w-[25px] h-[25px] flex items-center justify-center rounded-lg bg-light-red-color">
                                <i class="fa-solid fa-trash text-xs text-white"></i>
                            </a>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="w-full px-4 py-3">
                <div>
                  {{ knp_pagination_render(pagination) }}
                </div>
              </div>
            </div>
{% endblock %}
