{% extends 'template.html.twig' %}

{% block title %}Parents{% endblock %}

{% block path %}Update Parent{% endblock %}

{% block content %}
{{ form_start(form) }}
<div class="bg-white rounded-xl w-full p-6 border shadow-sm">
    <h1 class="text-lg font-semibold">Parent Information</h1>
    
    <div class="grid grid-cols-3 gap-6 py-4">
        <div>
            {{ form_label(form.firstName,'First Name',{'label_attr':{'class':'block mb-1 text-sm font-medium text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.firstName,{'attr':{'class':'shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light','placeholder':'Enter First Name'}}) }}
            {{ form_errors(form.firstName) }}
        </div>
        <div>
            {{ form_label(form.lastName,'Last Name',{'label_attr':{'class':'block mb-1 text-sm font-medium text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.lastName,{'attr':{'class':'shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light','placeholder':'Enter Last Name'}}) }}
            {{ form_errors(form.lastName) }}
        </div>
        <div>
            {{ form_label(form.gender,'Gender',{'label_attr':{'class':'block mb-1 text-sm font-medium text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.gender,{'attr':{'class':'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
            {{ form_errors(form.gender) }}
        </div>
        <div>
            {{ form_label(form.email,'Email',{'label_attr':{'class':'block mb-1 text-sm font-medium text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.email,{'attr':{'class':'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500','placeholder':'Enter Email'}}) }}
            {{ form_errors(form.email) }}
        </div>
        <div>
            {{ form_label(form.adress,'Adress',{'label_attr':{'class':'block mb-1 text-sm font-medium text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.adress,{'attr':{'class':'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500','placeholder':'Enter Adress'}}) }}
            {{ form_errors(form.adress) }}
        </div>
        <div>
            {{ form_label(form.phone,'Phone',{'label_attr':{'class':'block mb-1 text-sm font-medium text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.phone,{'attr':{'class':'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500','placeholder':'Enter Phone'}}) }}
            {{ form_errors(form.phone) }}
        </div>
        <div>
            {{ form_label(form.occupation,'Occupation',{'label_attr':{'class':'block mb-1 text-sm font-medium text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.occupation,{'attr':{'class':'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500','placeholder':'Enter Occupation'}}) }}
            {{ form_errors(form.occupation) }}
        </div>
    </div>

    <button type="submit" class="text-white mt-6 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-10 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Update Parent</button>
    <a href="{{ path('app_parent_index') }}" class="mt-6 bg-black text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-10 py-2.5 mr-2 mb-2">Back</a>
</div>
{{ form_end(form) }}
{% endblock %}