{% extends 'template.html.twig' %}

{% block title %}Classes{% endblock %}

{% block path %}Classes{% endblock %}

{% block content %}
{{ form_start(form) }}
<div class="bg-white rounded-xl w-full max-w-[700px] mx-auto p-6 border shadow-md">
    <h1 class="text-lg font-semibold">Classe Information</h1>

    <div class="mt-4">
        {{ form_label(form.code,'ID',{'label_attr':{'class' : 'block mb-1.5 text-sm font-medium text-gray-900 dark:text-white'}}) }}
        {{ form_widget(form.code,{'attr':{'class':'shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light'}}) }}
        {{ form_errors(form.code) }}
    </div>

    <div class="mt-4">
        {{ form_label(form.name,'Name',{'label_attr':{'class' : 'block mb-1.5 text-sm font-medium text-gray-900 dark:text-white'}}) }}
        {{ form_widget(form.name,{'attr':{'class':'shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light'}}) }}
        {{ form_errors(form.name) }}
    </div>


    <button type="submit" class="text-white mt-6 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-10 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Submit</button>
</div>
{{ form_end(form) }}
{% endblock %}