{% extends 'template.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block path %}Dashboard{% endblock %}

{% block content %}
    <div class="grid md:grid-cols-3 grid-cols-2 gap-4">
        
        <div class="flex items-center bg-white gap-4 border p-4 rounded-md">
            <div class="bg-blue-500 py-4 px-6 rounded-md">
                <i class="fa-solid fa-user-graduate text-3xl text-white"></i>
            </div>
            <div class="flex flex-col items-start">
                <span class="text-gray-400 text-md">Students</span>
                <span class="text-2xl font-semibold">{{nbrStudent}}</span>
            </div>
        </div>

        <div class="flex items-center bg-white gap-4 border p-4 rounded-md">
            <div class="bg-blue-500 py-4 px-6 rounded-md">
                <i class="fa-solid fa-chalkboard-user text-3xl text-white"></i>
            </div>
            <div class="flex flex-col items-start">
                <span class="text-gray-400 text-md">Teachers</span>
                <span class="text-2xl font-semibold">{{nbrTeacher}}</span>
            </div>
        </div>

        <div class="flex items-center bg-white gap-4 border p-4 rounded-md">
            <div class="bg-blue-500 py-4 px-6 rounded-md">
                <i class="fa-solid fa-user-tie text-3xl text-white"></i>
            </div>
            <div class="flex flex-col items-start">
                <span class="text-gray-400 text-md">Parents</span>
                <span class="text-2xl font-semibold">{{nbrParent}}</span>
            </div>
        </div>

        <div class="flex items-center bg-white gap-4 border p-4 rounded-md">
            <div class="bg-blue-500 py-4 px-6 rounded-md">
                <i class="fa-solid fa-school text-3xl text-white"></i>
            </div>
            <div class="flex flex-col items-start">
                <span class="text-gray-400 text-md">Classes</span>
                <span class="text-2xl font-semibold">{{nbrClass}}</span>
            </div>
        </div>

        <div class="flex items-center bg-white gap-4 border p-4 rounded-md">
            <div class="bg-blue-500 py-4 px-6 rounded-md">
                <i class="fa-solid fa-book-open text-3xl text-white"></i>
            </div>
            <div class="flex flex-col items-start">
                <span class="text-gray-400 text-md">Subjects</span>
                <span class="text-2xl font-semibold">{{nbrClass}}</span>
            </div>
        </div>
    

    </div>
{% endblock %}
